.simulate-content {
  position: fixed;
  inset: 0;
  z-index: -20;
  pointer-events: none;
  display: flex;
  justify-content: end;
  opacity: 0;
  transition: opacity ease .5s;
  background-color: #20202064;
}

.simulate-content.showSimulator {
  pointer-events: all;
  z-index: 20;
  opacity: 1;
}

.simulator {
  box-shadow: 0 0 5px 5px rgba(0 0 0 / .05);
  gap: 1.5rem;
  background-color: white;
  width: 25%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  transform: translate(100%);
  transition: transform ease .4s;
}

.simulate-content.showSimulator .simulator {
  transform: translate(0%);
}

.info-container {
  height: 5%;
}

.info {
  background-color: rgba(255, 166, 0, 0.3);
  border-left: .5rem solid var(--orange);
  box-shadow: 0 3px 10px rgba(0 0 0 / .1);
  border-radius: .5rem;
  padding: 1rem;
  backdrop-filter: blur(10px);
  color: var(--black);
}

.info p {
  font-size: 1.4rem;
}

.simulator form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75%;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 3px 10px rgba(0 0 0 / .1);
}

.form-group label {
  display: block;
  color: var(--black);
  font-size: 1.4rem;
  margin-bottom: 1rem;
  opacity: .8;
}

.form-group input,
.form-group textarea {
  color: var(--white);
  font-size: 1.6rem;
  background-color: rgba(128, 128, 128, 0.204);
  border-radius: .7rem;
  padding: 2rem 0;
  padding-left: 1.5rem;
}

.simulator .btn-address {
  color: var(--white);
  padding: 1rem 0;
  font-size: 1.4rem;
  cursor: pointer;
}


.simulator-result {
  border-radius: 1.5rem;
  height: 20%;
  box-shadow: 0 3px 10px rgba(0 0 0 / .1);
}

.result {
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}